@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


body{
  /* background-color: #FFFDD0; */
  background-color: #F1F3F5;
  
}
*{
  /* cursor: none  !important; */
  
}

*::selection{
  background-color:#6a6b6dca;
  color: white;
  
}